.center, .flex, .left {
    align-items: center;
    display: flex
}

.center {
    justify-content: center
}

.sidebar .sidebar-body, .sidebar .sidebar-menu {
    list-style: none;
    padding: 0;
}
.dashboard {
    background-image: url("./image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    position: relative
}

.main-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
}
.sidebar {
    width: 245px;
    transition: .4s ease-in-out;
    padding: 39px 20px;
    height: 100%;
    max-height: 100%;
    backdrop-filter: blur(10px);
    color: #fff;
    background: rgba(0, 0, 0, .3);
    overflow: hidden;
}


.sidebar.closed {
    width: 55px;
}

.sidebar-logo {
    min-width: 70px;
    min-height: 70px;
    background-image: url("./blackhole.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

.sidebar-menu-item, .sidebar-menu-link {
    border-radius: 10px;
    transition: .4s ease-in-out
}

.sidebar-header {
    gap: 10px;
    width: 100%;
    transition: .4s ease-in-out;
    font-size: 25px;
    font-weight: bolder;

}


.sidebar.closed .sidebar-open, .sidebar.closed .sidebar-title {
    width: 0;
    opacity: 0
}

.sidebar.closed .sidebar-header {
    display: flex;
    align-items: center;
    transition: .4s ease-in-out
}

.sidebar.closed .sidebar-menu-link span, .sidebar.closed .sidebar-menu-text {
    opacity: 0;
    width: 0;
    transition: .4s ease-in-out
}

.sidebar .sidebar-close, .sidebar .sidebar-open {
    font-size: 30px;
    cursor: pointer;
    color: #fffefe;
}

.sidebar-close:hover {
    color: #15003a
}

.sidebar .sidebar-close {
    display: none;
    transition: .4s ease-in-out
}

.sidebar .sidebar-body {
    width: 100%;
    transition: .4s ease-in-out
}

.sidebar .sidebar-menu-title {
    position: relative;
    width: 55px;
    height: 50px;
    transition: .4s ease-in-out
}

.sidebar .underline {
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 15px;
    background: #fff;
    border-radius: 25px
}

.sidebar.closed .underline {
    opacity: 1
}

.sidebar-menu-item {
    min-width: 50px;
    min-height: 50px;
}

.sidebar-menu-link {
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    justify-content: flex-start;
    gap: 10px;
}

.sidebar-menu-link i {
    height: 50px;
    min-width: 50px;
    font-size: 22px;
    margin-right: 15px;
    text-align: center;
    border-radius: 10px;
}

.sidebar-menu-link span, .sidebar-profile span {
    font-size: 18px;
    font-weight: 500
}

.sidebar .sidebar-menu-item:hover .sidebar-menu-link, .sidebar-profile a:hover {
    background: #fff;
    color: #150044
}

.sidebar-profile a:hover {
    background: #150044;
    color: #fff
}

.sidebar-profile-container {
    border-top: 1px solid #150044;
    padding-top: 20px;
    transition: .4s ease-in-out
}

.sidebar-profile {
    justify-content: flex-start;
    gap: 10px;
    padding-right: 20px;
    width: 100%;
    background: #fffefe;
    height: 50px;
    margin-right: auto;
    border: 1px solid #150044;
    border-radius: 30px;
    transition: .4s ease-in-out
}

.sidebar-profile span {
    letter-spacing: 1px;
    transition: .4s ease-in-out;
    color: #150044
}

.sidebar-profile-info {
    color: #150044
}

.sidebar.closed .sidebar-profile-info {
    width: 0;
    opacity: 0;
    margin: 0
}

.sidebar.closed .sidebar-profile {
    gap: 0;
    padding: 0
}

.sidebar-profile a {
    text-decoration: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    transition: .4s ease-in-out
}

.navbar {
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100vw;
    height: 60px;
    background: rgb(0, 0, 0, 0.3);
    backdrop-filter:blur(10px);
    transition: .4s ease-in-out;
    color: #fff;
}

.middle {
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 700px;
}

.middle .search-button, .space-icon {
    display: flex;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    font-size: 20px;
    color: #150044;
    background: 0 0;
    position: absolute
}

.middle .search-button {
    height: 40px;
    border: none;
    outline: 0;
    justify-content: center;
    transition: .3s ease-in-out;
    box-shadow: none;
    padding: 0
}

.card:hover, .middle input:focus {
    box-shadow: 0 0 6px rgba(0, 0, 0, .4)
}

.space-icon {
    right: 0;
    justify-content: center;
    transition: .3s ease-in-out;
    border: none;
    outline: 0;
    height: 40px
}

.left button, .space-icon button {
    height: 40px;
    outline: 0;
    display: flex;
    align-items: center;
    transition: .3s ease-in-out
}

.content-container, .main {
    max-height: 100vh;
    transition: .4s ease-in-out
}

ul {
    list-style: none;
    margin: 0;
}

.space-icon button {
    min-width: 0;
    width: 40px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    justify-content: center;
    color: #150044;
    background: 0 0;
    box-shadow: none;
    padding: 0
}

.middle button:hover, .space-icon:hover {
    color: #875fe7;
    background: #330091
}

.middle input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding: 0 60px;
    border: none;
    outline: 0;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, .2)
}

.middle input::placeholder {
    color: #150044;
    font-weight: 500
}

.middle button:hover, .middle i:hover {
    color: #875fe7
}

.left button {
    width: 40px;
    margin-left: 30px;
    border-radius: 50%;
    border: none;
    font-size: 35px;
    justify-content: center;
    color: #ffffff;
    background: 0 0
}

.content-header, .right {
    align-items: center;
    display: flex
}

.right {
    justify-content: space-between;
}

.right div, .right p, .right svg {
    color: white;
}

.main {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

.content-container {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    max-width: 100vw;
    flex-direction: column;
    padding: 0;
    overflow-x: hidden;
    background: transparent;
}

.content-header {
    height: 50px;
    width: 100%;
    justify-content: space-between;
    background:rgb(0, 0, 0, 0.3);
    backdrop-filter:blur(10px);
    color: white;
    border:none;
}
.content-header button{
    background:rgb(0, 0, 0, 0.3);
    color: white;
    border:none;
}
.content-body {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .4s ease-in-out;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgb(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

.card-container {
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    max-width: 90%;
    transition: .4s ease-in-out
}

.card:hover {
    transform: scale(1.02)
}

.modal-button {
    position: absolute;
    bottom: 30px;
    right: 40px
}

.modal-form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 500px;
    padding: 10px;
    border-radius: 10px;
    overflow-y: auto
}

.location {
    gap: 10px;
    width: 100%
}

.card-footer, .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%
}

.card-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%
}

.filter-tab {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    background: #fff;
    height: 100%
}

.filter-tab-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px
}

.event-Category, .seat-type {
    display: flex;
    align-items: center;
    background: #fff;
    gap: 10px
}

.seat-type {
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px
}

.event-Category {
    height: 80px;
    flex-direction: row;
    width: 100%
}

.seat-type-body, .seat-type-container {
    align-items: center;
    margin-top: 10px;
    display: flex;
    width: 100%
}

.seat-type-container {
    flex-direction: column;
    margin-bottom: 10px
}

.seat-type-body {
    flex-direction: column;
    background: #fff;
    gap: 10px
}

.seat-type-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background: #fff;
    gap: 10px;
    margin-bottom: 10px
}