.myEvents{
    background-image: url("./image.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;
}
.myEvents .btn{
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 20px;
}