@font-face {
  font-family: 'cfour';
  src: local('cfour'), url("./fonts/cfour/Cfour.otf") format('truetype');
}
@font-face {
  font-family: 'RobotoBold';
  src: local('RobotoBold'), url('./fonts/Roberto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'against';
  src: local("against"), url("./fonts/against/against regular.otf") format("truetype");
}
body {
  font-family: 'against', sans-serif;
  padding:0;
  margin:0;
  box-sizing: border-box;
  height: 100%;
  font-weight: 900;

}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Robot', sans-serif;
  font-weight: 900;
}
button {
  font-family: 'RobotoBold', sans-serif;
  font-weight: 900;
}
a {
  text-decoration: none;
  color: #000;
}
span {
  font-family: 'RobotoBold', sans-serif;
  font-weight: 600;
}
p {
  font-family: 'RobotoBold', sans-serif;
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
