@font-face {
  font-family: 'cfour';
  src: local('cfour'), url("./fonts/cfour/Cfour.otf") format('truetype');
}

@font-face {
  font-family: 'against';
  src: local("against"), url("./fonts/against/against regular.otf") format("truetype");
}
body {
  font-family: 'against', sans-serif;
  padding:0;
  margin:0;
  box-sizing: border-box;
  height: 100%;
  font-weight: 900;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
